body{
    min-width: 320px;
    font-family: "Montserrat", sans-serif;
    background-color: #4A614D;
}

.gradient-custom {

    

    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .btn{
        background-color:  #4A614D;;
        color: white;
        margin-top: 3%;
    }